#lateral ul a{
    font-size: 0.9em;
    padding: 3px;
    display: block;
    line-height: 30px;
    color: #000;
    text-decoration: none;
    border-bottom: 1px solid #f3f3f3;
}
#lateral ul a:hover{
    background: #f9f9f9 url(../noticias-cidade/imagens/marcador.png) no-repeat left center;
    padding-left: 20px;
    color: #a1a1a1;
}
label {
    display: block; 
    cursor: pointer;
}
input {
    padding: 5px;
    width: 125px;
    font-size: 0.9em;
    background-color: #fff;
    }
 input.submit {
width: 80px;
color: #fff;
background-color: #b10333;
 border: 2px solid #870529;
 }
 img.imagem-principal {
    width: 98%;
    border: 3px solid #dfdfdf;
    }
 h3 {
  text-transform: uppercase;
  display: inline;
  font-size: 0.8em;
  padding: 3px;
     }

  .destaque h3 {
        background: #b10333;
        color: #fff;
     }       
     .entrevista h3 {
        background: #de003e;
      }
 #lista-noticias li {
        padding: 2px;
        border-bottom: 1px solid #ccc; 
        height: 62px;
      } 
  #lista-noticias li a img {
        float: left;
        margin: 5px;
       }
   #lista-noticias li a {
       text-decoration: none;
   }    
 #lista-noticias li a h3{
     font-size: 0.8em;
     padding: 0;
     color: #3e7ab9;
 } 
#lista-noticias li a p{
    font-size: 0.7em;
    color: #000;
}     
#lista-noticias li:hover{
    background: #eee;
    cursor: pointer;
}
#container-rodape{
    background: #294c71;
    padding: 20px;
}
#rodape{
    width: 750px;
    margin: auto;
    color: #fff;
}